.navbar {
    height: 70px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
  }
  
  .navbar h2 {
    font-size: 40px;
    margin-left: 1%;
  }
  
  .navbag {
    display: flex;
    align-items: center;
  
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  
  .itemsinCartNum-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: yellow;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 5px;
    margin-top: 20px;
  }


.signOut{
  color: white;
  display: flex;
  margin-left: 72%;


}

.b1{
  margin-left: 10px;
}